@media (max-width: 768px) {
  .header__tamanho, .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .input_header {
    width: 100%;
  }

  .menu_header ul {
    display: flex;
    flex-direction: column;
  }

  .texto_main {
    max-width: 90%;
    margin: auto;
  }

  .carousel-container {
    width: 100%;
  }
}

/* Header */
.header__cor {
  background-color: #c3e3fd;
  color: #2f2c79;
}

.header__tamanho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu_header {
  display: none;
}

.img_nav {
  border-radius: 5%;
  width: 12%;
}

.menu_header ul {
  list-style: none;
}

.menu_header ul li a {
  color: #2f2c79;
  background-color: white;
  text-decoration: none;
  border: solid 1px black;
  border-radius: 5px;
  padding: 14px 25px;
}

.menu_header ul li a:hover {
  background-color: #c3e3fd;
  transform: scale(1.1);
}

.cart_header {
  color: #1b1212;
}

.cart_header:hover {
  transform: scale(1.1);
  cursor: pointer;
}

a:focus, button:focus {
  outline: 2px solid #2f2c79;
  outline-offset: 2px;
}

#menuOptions {
  display: none; /* Inicialmente oculto */
}

#menuOptions.active {
  display: block; /* Exibe o menu quando a classe 'active' é adicionada */
}


/*main*/

.video-text-container {
  display: flex; /* Utiliza Flexbox para distribuir os itens lado a lado */
  align-items: flex-start; /* Alinha os itens ao topo */
  margin-bottom: 30px; /* Espaçamento entre os blocos */
}

.video-section {
  flex: 1; /* Permite que o vídeo ocupe um espaço flexível */
  max-width: 560px; /* Define uma largura máxima para o vídeo */
  height: 400px; /* Define uma altura fixa para o contêiner do vídeo */
  position: relative; /* Necessário para o uso de absolute no iframe */
}

.text-section {
  flex: 1; /* Permite que o texto ocupe um espaço flexível */
  padding-left: 10px; /* Espaçamento à esquerda entre o vídeo e o texto */
  padding: 15px; /* Espaçamento interno da caixa */
  border: 1px solid #ccc; /* Borda da caixa */
  border-radius: 10px; /* Cantos arredondados da caixa */
  background-color: #e5b7923a; /* Cor de fundo da caixa */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra da caixa */
  margin-top: 10px; /* Espaçamento acima da caixa */
}


iframe {
  width: 100%; /* Faz com que o vídeo ocupe 100% da largura do contêiner */
  height: 80%; /* Faz com que o vídeo ocupe 100% da altura do contêiner */
  border-radius: 10px; 
  box-shadow: 5px 5px 15px #2f2c79;
  position: relative; /* Permite que o iframe ocupe todo o espaço do contêiner */
  top: 10px; /* Alinha o iframe ao topo do contêiner */
  left: 30px; /* Alinha o iframe à esquerda do contêiner */
}

h2 {
  margin-bottom: 10px; /* Espaçamento inferior para os títulos das dicas */
}

p {
  margin-bottom: 8px; /* Espaçamento inferior para os parágrafos */
}



/* RODAPÉ */
footer {
    background-color: #1d1c51;
    padding: 10px;
    font-size: 14px;
    color: white;
  }
  
  /* Conteúdo do rodapé */
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Texto do rodapé */
  .footer-text {
    text-align: center;
    flex: 1;
  }
  
  /* Redes sociais */
  .social-media-icons {
    display: flex;
     gap: 10px;
  }
  
  .social-media-icons a {
    color: #1d1c51;
    text-decoration: none;
    font-size: 20px;
  }
  
  .social-media-icons a:hover {
    color: #000;
  }
  
  .social-media-icons img {
    border-radius: 50%;
  
  }
  
   